<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
			autoReload="true"
			throwExceptions="false"
			throwConfigExceptions="true"
			internalLogToConsole="true"
			internalLogLevel="Debug" internalLogFile="C:\logs\terminalix\terminalix-internal.log">
	
<targets>
	<target name="fileTarget"
						xsi:type="File"
						fileName="C:\logs\terminalix\main.log"
						layout="
-------------- ${level} (${longdate}) --------------${newline}
${newline}
Call Site: ${callsite}${newline}
Exception Type: ${exception:format=Type}${newline}
Exception Message: ${exception:format=Message}${newline}
Stack Trace: ${exception:format=StackTrace}${newline}
Additional Info: ${message}${newline}" />
 </targets>
	
	<rules>
		<logger name="*" writeTo="fileTarget" minlevel="Trace" />
	</rules>

</nlog>
